<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id="customer" class="com.bootcamp.webapplication.creditcardactivation.entities.Customer" scope="prototype"/>    
    
    
    <bean id="creditcard" class="com.bootcamp.webapplication.creditcardactivation.entities.CreditCard" scope="prototype"/>
    

    
    <bean id="dao" class="com.bootcamp.webapplication.creditcardactivation.daos.CreditCardActivationDAO">
	    <property name="customer1" ref="customer"/>
	    <property name="card" ref="creditcard"/>
    </bean>
    
    <bean id="service" class="com.bootcamp.webapplication.creditcardactivation.daos.CreditCardActivationDAO">
    	<property name="ccDAO" ref="dao"/>        
    </bean>
    
    
</beans>